@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue/HelveticaNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
}
body {
  margin: 0;
  font-family: 'HelveticaNeue' sans-serif;
}

section {
  width: 100%;
  padding: 0;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #FFF;
  height: 100vh;
}

/*Alternate color scheme*/
section:nth-of-type(even) {
 background-color: #373B44;
}

.uppercase {
  text-transform: uppercase;
}

.numberz-logo {
  background: url(../img/image2.png) no-repeat;
  background-size: contain;
  width: 150px;
  height: auto;
  margin-top: 10px;
}

.numberz-navbar {
  margin: 0;
  padding: 10px;
}

.numberz-hero {
  background: url(../img/new/bg.png);
  background-repeat: no-repeat;
  margin: 0 -25px;
  background-size: contain;
}

.intro {
  position: absolute;
  color: #fff;
  top: 12%;
  left: 10%;
}

.intro-heading {
  font-family: 'HelveticaNeue', Arial;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 1px;
}

.intro-para {
  font-family: Arial;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
}

.btn-signup {
  padding: 15px 70px;
  background-color: #F59D1F;
  color: #FFF;
  letter-spacing: 1px;
}

nav>ul>li>a {
  color: #6A6A6A;
  font-size: 14px;
}

.signup-link {
  border: 1px solid #40CCED;
  border-radius: 10px;
  padding: 5px 15px !important;
  margin-top: 10px;
}
